h2{
    background-color: aqua;
    height: 50px;
    text-align: center;
    border: solid black 2px;
    font-weight: 300;
    border-radius: 20px;
}

#firstpara{
    color: blue;
    border: solid black 2px;
    font-weight: 300;
    border-radius: 10px;
    font-size: large;
    width: 400px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    margin: 50px;
}

#secpara{
    background-color: blueviolet;
    border: solid black 2px;
    font-size: large;
    width: 400px;
    border-radius: 10px;
}

#thirdpara{
    background-color: brown;
    border: solid black 2px;
    width: 400px;
    border-radius: 10px;
}